@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
  height: 100%;
  font-family: VT323;
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title{
  color: white;
  font-weight: 100;
  margin: 10vh 0px;
}
.container {
  position: relative;
  width: 640px;
  height: 306px;
}

#info {
 position:absolute;
 top:10px;
 left:10px;
 font-family: VT323;
 font-size: 16px;
 color: #21232E;
 background-color: #F3F9FF;
 border: #969DB5 solid 1px;
 padding: 2px 5px;
}

#info > p, h3{
  padding: 0;
  margin: 0;
}

#viewport {
  width: 640px;
  height: 256px;
  position: relative;
  overflow-x: auto;
  background-image: url('../images/water0.png');
}

#ports {
  width: 0px;
  margin-top: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#ports > .port {
  background-image: url('../images/port.png');
  width: 64px;
  height: 32px;
}

#ships {
  position: relative;
}

#ship {
  background-image: url('../images/ship.png');
  width: 128px;
  height: 64px;
  position: absolute;
}

.portWelcomeSign {
  font-size: 12px;
  color: #21232E;
  background-color: #F3F9FF;
  border: #969DB5 solid 1px;
  position: absolute;
  padding: 2px 5px;
  top: 70px;
}

#sailbutton {
  padding: 10px 20px;
  width: 640px;
  height: 50px;
  outline: none;
  border: 0;
  font-family: VT323;
  font-size: 24px;
  color: white;
  background-color: #FB3640;
  border-bottom: 4px solid #d8040f;
}

#sailbutton:hover {
  background-color: #f04e56;
  border-bottom: 4px solid #FB3640;
}